@keyframes imge {
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(0.4);
    }
    60%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
    
}







.product{
    margin-top: 165px;
    text-align: center;
}
.product .proheading{
    animation:intoout 0.7s  ease-in-out  alternate ;
    animation-play-state: paused;
}
.product .proheading h2{
    font-size: 30px;
    margin-left: 97px;
    margin-right: 119px;
}
.product .proheading p{
    font-size: 25px;
    color: #00000075;
}
.product .procontent{
    text-align: end;
    margin-top: 143px;
    font-size: 23px;
    color: #00000078;
}
.product .procontent .pro1,.product .procontent .pro2,  .product .procontent .pro3,.product .procontent .pro4{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 138px;
    position: relative;
}
.product .procontent  .left{

}
.product .procontent  h3{
    padding-right: 30px;
    font-size: 30px;
    color: var(--main-color);
}
.product .procontent   p{
    padding-right: 30px;
    padding-left: 30px;
    line-height: 25px;
}
.product .procontent   ul{
    padding-right: 30px;
    margin-top: 26px;
}
.product .procontent   ul li{
    padding-bottom: 9px;
    border-bottom: 1px solid #00000021;
    margin-bottom: 8px;
    margin-left: 78px;
    position: relative;
    padding-right: 40px;
}
.product .procontent   ul li::before{
content: "\f00c";
font-family: "FONT AWESOME 6 FREE";
font-weight: bold;
font-size: 20px;
right: 0;
top: 0;
position: absolute;
color: var(--main-color);

}
.product .procontent  .right{
position: relative;
}


.product .procontent  img{
width: 100%;
transition: 0.7s;
z-index: 1;

}
.product .procontent button{
    margin-right: 271px;
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.5;
}
.product .procontent button:hover{
    
    opacity: 1;
    
    
}
.product .procontent  .imgcontainer{
    position: relative;
    cursor: pointer;
    
    
}
.product .procontent  .imgcontainer:hover::before{
    background-color: rgb(33 150 243 / 40%);
    animation: imge 0.3s cubic-bezier(0, 0, 0.6, 0.69) alternate;
   
}

.product .procontent  .imgcontainer:hover::after{
    visibility: visible;
}

.product .procontent .imgcontainer::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  
 
 }
 .product .procontent .imgcontainer::after{
    content: "\f06e";
    font-family: "FONT AWESOME 6 FREE";
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    visibility: hidden;

 }
 


/* *******************************************************          media query */
/* mobile */
@media (max-width:500px) {
    .product .procontent{
        text-align:center;
    }
    .product .procontent .pro1,
     .product .procontent .pro2,
      .product .procontent .pro3, 
      .product .procontent .pro4{
        display:block;
        margin-bottom: 20px;
    }
    .product .procontent .imgcontainer{
        margin-bottom:50px;
    }
    .product .procontent p{
        line-height: 35px;
        margin: 52px;
    }
    .product .procontent button{
        margin:20px
    }
    .product .procontent img{
        height:320px
    }
    
 
    
    
}
/* tap */
@media (min-width:501px) and (max-width:992px) {
    .product .procontent{
        text-align:center;
    }
    .product .procontent .pro1,
     .product .procontent .pro2,
      .product .procontent .pro3, 
      .product .procontent .pro4{
        display:block;
        margin-bottom: 20px;
    }
    .product .procontent .imgcontainer{
        margin-bottom:50px;
    }
    .product .procontent p{
        line-height: 35px;
        margin: 52px;
    }
    .product .procontent button{
        margin:20px
    }
    .product .procontent img{
        height:320px
    }
    
 
}

/*lap  */
@media (min-width:993px) and (max-width:1500px) {
   
}